.loginForm{
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid black;
  padding: 24px;
}

.loginDiv{
  display: flex;
  justify-content: center;
  padding: 24px;
}

input{
  margin-bottom: 6px;
  height: 24px;
}