.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row;
  padding: 12px;
}

.right-header{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


.left-header{
  display: flex;
  flex: 3;
  justify-content: center;
}